body{ color: white;
    background-color: black;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
max-width: 1200px;
margin: 0 auto;
padding: 15px}

header{display: flex;
        flex-direction: row;
    justify-content: space-between}

.text{border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      width:250px;
      height:30px}

.email{border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width:250px;
    height:30px}

    #btn-enviar{
        font-size:15px;
        font-family:Arial;
        width:140px;
        height:50px;
        border-width:1px;
        color:#fff;
        font-weight:bold;
        border-top-left-radius:28px;
        border-top-right-radius:28px;
        border-bottom-left-radius:28px;
        border-bottom-right-radius:28px;
        text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
        background:rgba(189, 16, 224, 1);
        cursor: pointer;}

        .submit1{color: violet;}

    #btn-enviar:hover{color: pink; background-color: rebeccapurple}

    li{ display: inline-block;
        margin: 20px;}


main{display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;}



    img{
        width: 500px; 
        border-bottom-left-radius: 200px;
        border-bottom-right-radius: 200px;
        border-top-left-radius: 200px;
        border-top-right-radius: 200px}
         
